@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: "Inter", sans-serif;
}

.label {
    @apply block text-zinc-200 text-sm font-normal mb-2
}

.text-field {
    @apply block outline-none w-full px-3 py-3 text-sm bg-zinc-800 rounded-xl
    ring-1 ring-inset ring-transparent transition-shadow hover:ring-zinc-50/5
}